@charset "utf-8";
/* CSS Document */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body{
	font-family: 'Roboto', sans-serif;;font-size: 16px;color: #666666;margin: 0
}
header{
	width: 100%;height: 70px;background-color: #D0CACA  ;border-bottom: 1px solid #9F191B
}
.banner{
	width: 100%;min-height: 500px;
}
aside{
	width: 100%;min-height: 500px;
}
main{
	width: 100%;min-height: 500px;		
}
footer{
	width: 100%;min-height: 200px;background-color: #EEEEEE
}
.logo{
	padding-top: 8px
}
.menu{
	padding-top: 25px
}
.menu ul{
	margin: 0;padding: 0;list-style: none;display: flex
}
.menu ul li a{
	padding: 10px 20px;text-decoration: none;font-size: 17px;color: #646464;text-transform: uppercase;border-radius: 20px 
}
.menu ul li a:hover{
	background-color : darkblue;color: white
}
#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;
	 
       	
}
#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:darkblue;
      text-decoration: none; }
.text-do{
	color: #CF1B1E;font-size: 22px
	
}
aside ul{
	list-style: none;margin: 0;padding: 0;display: flex;flex-direction: column
}
aside ul li{
	border-bottom: 1px solid #77696A
}
aside ul li a{
	text-decoration: none;padding: 10px;display: block;color: #676363
}
aside ul li a:hover{
	color: white;background-color: darkblue
}
.text-den{
	color: black
}
.text-center{
	text-align: center
}
.p{
	font-size: 15px;
}
footer a{
	color: grey;text-decoration-line: none;
		
}
footer a:hover{
	color: darkblue;
}
.block{
	background-color: #5BE7D6;text-align: center;
}
.block a:hover{
	color: darkblue
}
.ori{
	padding-top :15px;margin: 5px; display: flex;
}
.khoang-cach{
	margin: 20px;text-align: center
}
.img{
	width: 70px
}